.nav {
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    font-weight: 500;

}